<div class="glass mb-10 lg:px-20 py-2 px-[10px] text-sm breadcrumbs">
    <ul class="font-light">
        <li><a href="/"><i class="fa-solid fa-house pr-2"></i>Trang Chủ</a></li>
        <li><a href="/shop"><i class="fa-solid fa-circle-info pr-2"></i>Sản Phẩm</a></li>
    </ul>
</div>
<!-- ------------------------------------------------------------------------------------------------------- -->
<div class="hidden lg:flex flex-col w-[500px] pb-5 pl-[20px] xl:pl-[150px]">
    <h1 class="font-semibold text-[20px] my-5 border-black  border-b-[1px] w-[200px]">Danh Mục Sản Phẩm:</h1>
    <ul class="flex justify-start items-center space-x-5 ">
        <li class="btn bg-main glass"><a href="/shop">Tất Cả Sản Phẩm</a></li>
        <li class="btn bg-main glass"><a href="">Trà Truyền Thống</a></li>
        <li class="btn bg-main glass"><a href="">Trà Sữa Trái Cây</a></li>
        <li class="btn bg-main glass"><a href="">Trà Sữa Đài Loan</a></li>
        <li class="btn bg-main glass"><a href="">Nước Trái Cây</a></li>
        <li class="btn bg-main glass"><a href=""></a>Đồ Uống Nóng</li>
    </ul>
</div>


<details class="lg:hidden mx-[20px]
font-semibold my-5">
    <summary class=" border-black  border-b-[1px] w-[170px]">Danh Mục Sản Phẩm</summary>
    <ul class="grid grid-cols-2 space-x-2 space-y-2 md:w-full  justify-start items-start">
        <li class="btn bg-main glass"><a href="/shop">Tất Cả Sản Phẩm</a></li>
        <li class="btn bg-main glass"><a href="">Trà Truyền Thống</a></li>
        <li class="btn bg-main glass"><a href="">Trà Sữa Trái Cây</a></li>
        <li class="btn bg-main glass"><a href="">Trà Sữa Đài Loan</a></li>
        <li class="btn bg-main glass"><a href="">Nước Trái Cây</a></li>
        <li class="btn bg-main glass"><a href=""></a>Đồ Uống Nóng</li>
    </ul>
</details>
<div>
    <section class="px-[20px] xl:px-[150px] pb-[10px]">
        <div  class="grid md:grid-cols-3 xl:grid-cols-4 grid-cols-2 md:gap-[10px] gap-[10px] justify-center items-center">
          @for (pr of data; track pr.id) {
          <div class="relative border-gray-300 border-[1px] rounded-[10px]">
            <a href="/detail/{{pr.id}}">
              <img
                class="rounded-[10px] lg:w-[350px] lg:h-[350px] xl:w-[240px] xl:h-[220px] object-cover"
                loading="lazy"
                src="../../../assets/products/{{ pr.img }}"
                alt="{{ pr.name }}"
            /></a>
      
            <div class="flex justify-between items-start flex-row">
              <div class="my-[10px] pl-[10px] min-h-[120px] font-serif">
                <p class="font-light">{{ pr.name }}</p>
                <div class="hidden xl:block md:space-x-2">
                  <span class> {{ pr.sale }} .000đ</span>
                  <del class="text-red-500"> {{ pr.price }}.000đ</del>
                </div>
      
                <div class="xl:hidden">
                  <p>
                    <del class="text-red-500">{{ pr.price }}.000đ</del>
                  </p>
                  <p>{{ pr.sale }} .000đ</p>
                </div>
              </div>
              <div class="my-[10px] pr-[10px]">
                <button class="btn xl:hidden glass bg-red-600 text-white">+</button>
              </div>
            </div>
            <div
              class="hidden absolute inset-0 xl:flex justify-center items-center flex-row transform transition ease-in-out duration-1000 rounded-[10px] opacity-0 hover:opacity-100 hover:bg-white w-full hover:bg-opacity-30"
            >
              <div class="space-x-2">
                <a href="/detail/{{pr.id}}">
                  <button
                    class="btn bg-transparent border-red-500 rounded-full hover:scale-[1.1] hover:glass hover:bg-red-700 hover:text-white"
                  >
                    <i class="fa fa-search"></i></button
                ></a>
                <button
                  class="btn text-white bg-red-600 glass hover:scale-[1.1] hover:text-red-600 hover:bg-white hover:border-solid hover:border-red-500 hover:border-[1px]"
                >
                  <i class="fa fa-cart-shopping"></i>Giỏ Hàng
                </button>
                <a href="/">
                  <button
                    class="btn bg-transparent border-red-500 rounded-full hover:scale-[1.1] hover:glass hover:bg-red-700 hover:text-white"
                  >
                    <i class="fa fa-heart"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
          }
        </div>
      </section>
</div>