<div class="bg-cover bg-center h-[100px] md:h-[200px] w-full flex justify-center items-center"
    style="background-image:url(' https://cdn-www.vinid.net/2020/02/20200214_AppVinID_BannerWeb_MasterTea.jpg')">
    <h1 class="text-[30px] md:text-[50px] font-semibold text-white font-mono">
        Hồng trà mật ong
    </h1>
</div>
<div class=" lg:px-20 p-5 px-[10px] text-sm breadcrumbs">
    <ul class="font-light">
        <li><a href="/"><i class="fa-solid fa-house pr-2"></i>Trang Chủ</a></li>
        <li><a href="/detail"><i class="fa-solid fa-circle-info pr-2"></i>Chi Tiết</a></li>
    </ul>
</div>
<div class="flex flex-col md:flex-row md:px-[20px] px-[10px]
justify-center items-start ">
    <div class="">
        <div class=" flex flex-col">
            <img class="w-[360px] md:w-[400px] h-auto rounded"
                src="https://bizweb.dktcdn.net/thumb/large/100/270/285/products/05-a41e0c7f-e4c9-4ad2-9412-1e8c4d79a028.jpg?v=1510561983257"
                alt="Product">
            <div class="flex flex-row mt-[10px] space-x-4">
                <img class="w-[70px] md:w-[100px] rounded "
                    src="https://bizweb.dktcdn.net/thumb/large/100/270/285/products/05-a41e0c7f-e4c9-4ad2-9412-1e8c4d79a028.jpg?v=1510561983257"
                    alt="Product">


            </div>
        </div>
    </div>

    <div class="font-light flex flex-col md:px-10 px-[10px]">
        <h1 class="font-semibold">Name</h1>
        <p>Category</p>
        <span>100d
            <del>200d</del>
        </span>
        <div> describe
        </div>

        <div class="space-x-3">
            <input class="rounded-[5px] p-3" type="number" value="1" min="1" max="10">
            <button class="btn font-semibold ">Thêm Vào Giỏ Hàng</button>
        </div>

    </div>
</div>