<footer class="bg-main footer xl:pb-20 pb-[20px] pt-[20px] lg:px-20 px-[10px] text-base-content">
    <nav>
      <h6 class="footer-title">Giới Thiệu</h6>
      <a class="link link-hover">Về Chúng Tôi</a>
      <a class="link link-hover">Liên Hệ</a>
    </nav>
    <nav>
      <h6 class="footer-title">Hệ Thống Cửa Hàng</h6>
      <a class="link link-hover">Tin Khuyến Mãi</a>
      <a class="link link-hover">Tin Tuyển Dụng</a>
    </nav>
    <nav>
      <h6 class="footer-title">Điều Khoản & Chính Sách</h6>
      <a class="link link-hover">Điều Khoản Sử Dụng</a>
      <a class="link link-hover">Chính Sách Bảo Mật</a>
      <a class="link link-hover">Chính Sách Cookie</a>
    </nav>

    <form >
      <h1 class="footer-title">Liên Hệ</h1>
      <div class="flex  border-[1px] rounded-[10px] overflow-hidden">
        <input class=" font-light p-3 focus:outline-none" type="email" placeholder="Nhập email của bạn">
        <button class="font-semibold p-3 bg-green-700 text-white focus:outline-none" type="submit">Đồng Ý</button>
      </div>
    </form>    

  </footer>