<!-- ------------------------------------------------------------------------------------------------------- -->
<div class="glass mb-10 lg:px-20 py-2 px-[10px] text-sm breadcrumbs">
    <ul class="font-light">
        <li><a href="/"><i class="fa-solid fa-house pr-2"></i>Trang Chủ</a></li>
        <li><a href="/login"><i class="fa-solid fa-circle-info pr-2"></i>Đăng Nhập</a></li>
    </ul>
</div>
<!-- ------------------------------------------------------------------------------------------------------- -->
<div class="flex items-center justify-center">
    <div class="w-full max-w-md bg-white shadow-md rounded-lg mb-10 p-8">

        <form action="#" method="POST" class="space-y-6 ">
            <h2 class="text-2xl font-bold mb-6 text-center">Đăng Nhập</h2>
            <div>

                <label for="email" class=" text-sm font-medium text-gray-600"><b>Email</b></label>
                <input
                    class=" w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    t ype="email" [(ngModel)]="email" placeholder="Email" id="email" name="email">
            </div>
            <div>

                <label for="pass" class=" text-sm font-medium text-gray-600"><b>Mật Khẩu</b></label>
                <input
                    class=" w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="password" [(ngModel)]="password" placeholder="Mật Khẩu" id="pass" name="password">
            </div>
            <div class="flex items-center justify-start">
                <input class="h-4 w-4 text-indigo-500 focus:ring-indigo-500 border-gray-300 rounded" type="checkbox"
                    (click)="lookpass()">
                <label class="ml-2 text-sm"><b>Hiện Thị Mật Khẩu</b></label><br>
            </div>

            <button type="submit" (click)="check()"
                class="glass w-full flex justify-center py-2 px-4 border border-indigo-500 rounded-md shadow-sm text-sm font-medium text-white bg-indigo-700 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Đăng Nhập
            </button>
            <a type="submit" href="/register"
                class="glass w-full flex justify-center py-2 px-4 border border-indigo-500 rounded-md shadow-sm text-sm font-medium text-indigo-500 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Đăng Ký
            </a>
        </form>
    </div>
</div>