<!-- ------------------------------------------------------------------------------------------------------- -->
<div class="glass mb-10 lg:px-20 py-2 px-[10px] text-sm breadcrumbs">
    <ul class="font-light">
        <li><a href="/"><i class="fa-solid fa-house pr-2"></i>Trang Chủ</a></li>
        <li><a href="/login"><i class="fa-solid fa-circle-info pr-2"></i>Đăng Nhập</a></li>
    </ul>
</div>
<!-- ------------------------------------------------------------------------------------------------------- -->
<div class="form_login">
    <form action="" name="myF">
      <h3>ĐĂNG NHẬP</h3>
      <label for="email"><b>Email</b></label><br>
      <input type="email" class="kw" [(ngModel)]="email" placeholder="Email" id="email" name="email">
      <label for="pass"><b>Password</b></label><br>
      <input type="password" class="kw" [(ngModel)]="password" placeholder="Password" id="pass" name="password"><br><br>
      <input type="checkbox" class="look" (click)="lookpass()"><b>Hiện Thị Mật Khẩu </b><br>
      <button type="button" class="login" (click)="check()"><b>Đăng Nhập</b></button>
      <button type="button" class="login"><a href="/register"><b>Đăng Ký</b></a></button>
    </form>
  </div>
  