<!-- ------------------------------------------------------------------------------------------------------- -->
<div class="glass mb-10 lg:px-20 py-2 px-[10px] text-sm breadcrumbs">
    <ul class="font-light">
        <li><a href="/"><i class="fa-solid fa-house pr-2"></i>Trang Chủ</a></li>
        <li><a href="/login"><i class="fa-solid fa-circle-info pr-2"></i>Đăng Nhập</a></li>
    </ul>
</div>
<!-- ------------------------------------------------------------------------------------------------------- -->
